.main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.search-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: auto;
}

.current-weather {
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    margin-left: auto;
}

.five-divs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.favourable {
    background-color: cyan;
}

.moderate {
    background-color:chartreuse;
}

.severe {
    background-color:crimson;
}

