

.search-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.current-weather {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.five-day {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

